@tailwind base;
@tailwind components;
@tailwind utilities;

.loginModule {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.registerHead,
.loginHead {
  animation: fadeInUp 1 1.75s ease-in-out alternate !important;
  animation-delay: 0.5s;
}
.deleteSkill {
  position: absolute !important;
  top: -10px;
  right: -15px;
}

.SideBarr {
  width: 250px !important;
}
